@import "tailwindcss";

@theme {
 

  --color-bg: #e5e5e5;
  --color-heading: oklch(20.5% 0 0);
  --color-body: oklch(37.1% 0 0);
  --color-border:oklch(0.922 0 0);
  --color-muted-foreground: oklch(55.6% 0 0);
  --color-accent:oklch(97% 0 0);
}