@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.dark.css" layer(theme);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsl(0, 0%, 100%);
  --color-foreground: hsl(222.2, 84%, 4.9%);

  --color-card: hsl(0, 0%, 100%);
  --color-card-foreground: hsl(222.2, 84%, 4.9%);

  --color-popover: hsl(0, 0%, 100%);
  --color-popover-foreground: hsl(222.2, 84%, 4.9%);

  --color-primary: hsl(222.2, 47.4%, 11.2%);
  --color-primary-foreground: hsl(210, 40%, 98%);

  --color-secondary: hsl(210, 40%, 96.1%);
  --color-secondary-foreground: hsl(222.2, 47.4%, 11.2%);

  --color-muted: hsl(210, 40%, 96.1%);
  --color-muted-foreground: hsl(215.4, 16.3%, 46.9%);

  --color-accent: hsl(210, 40%, 96.1%);
  --color-accent-foreground: hsl(222.2, 47.4%, 11.2%);

  --color-destructive: hsl(0, 84.2%, 60.2%);
  --color-destructive-foreground: hsl(210, 40%, 98%);

  --color-border: hsl(214.3, 31.8%, 91.4%);
  --color-input: hsl(214.3, 31.8%, 91.4%);
  --color-ring: hsl(222.2, 84%, 4.9%);

  --radius: 0.5rem;

  --color-sidebar-background: hsl(0, 0%, 98%);
  --color-sidebar-foreground: hsl(240, 5.3%, 26.1%);
  --color-sidebar-primary: hsl(240, 5.9%, 10%);
  --color-sidebar-primary-foreground: hsl(0, 0%, 98%);
  --color-sidebar-accent: hsl(240, 4.8%, 95.9%);
  --color-sidebar-accent-foreground: hsl(240, 5.9%, 10%);
  --color-sidebar-border: hsl(220, 13%, 91%);
  --color-sidebar-ring: hsl(217.2, 91.2%, 59.8%);

  --animate-fade-in: fadeIn 0.5s ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* @theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(24.1% 0.05 266.6);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(24.1% 0.05 266.6);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(24.1% 0.05 266.6);
  --color-primary: oklch(28.7% 0.04 266.6);
  --color-primary-foreground: oklch(98% 0.01 210);
  --color-secondary: oklch(96.1% 0.01 210);
  --color-secondary-foreground: oklch(28.7% 0.04 266.6);
  --color-muted: oklch(96.1% 0.01 210);
  --color-muted-foreground: oklch(46.9% 0.02 215.4);
  --color-accent: oklch(96.1% 0.01 210);
  --color-accent-foreground: oklch(28.7% 0.04 266.6);
  --color-destructive: oklch(60.2% 0.1 0);
  --color-destructive-foreground: oklch(98% 0.01 210);
  --color-border: oklch(91.4% 0.01 214.3);
  --color-input: oklch(91.4% 0.01 214.3);
  --color-ring: oklch(24.1% 0.05 266.6);
  --color-radius: 0.5rem;
  --color-sidebar-background: oklch(98% 0 0);
  --color-sidebar-foreground: oklch(26.1% 0.01 240);
  --color-sidebar-primary: oklch(10% 0.01 240);
  --color-sidebar-primary-foreground: oklch(98% 0 0);
  --color-sidebar-accent: oklch(95.9% 0.01 240);
  --color-sidebar-accent-foreground: oklch(10% 0.01 240);
  --color-sidebar-border: oklch(91% 0.01 220);
  --color-sidebar-ring: oklch(59.8% 0.1 217.2);

  --animate-fade-in: fadeIn 0.5s ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  @variant dark {
    --color-background: oklch(24.1% 0.05 266.6);
    --color-foreground: oklch(98% 0.01 210);
    --color-card: oklch(24.1% 0.05 266.6);
    --color-card-foreground: oklch(98% 0.01 210);
    --color-popover: oklch(24.1% 0.05 266.6);
    --color-popover-foreground: oklch(98% 0.01 210);
    --color-primary: oklch(98% 0.01 210);
    --color-primary-foreground: oklch(28.7% 0.04 266.6);
    --color-secondary: oklch(17.5% 0.02 217.2);
    --color-secondary-foreground: oklch(98% 0.01 210);
    --color-muted: oklch(17.5% 0.02 217.2);
    --color-muted-foreground: oklch(65.1% 0.02 215);
    --color-accent: oklch(17.5% 0.02 217.2);
    --color-accent-foreground: oklch(98% 0.01 210);
    --color-destructive: oklch(30.6% 0.1 0);
    --color-destructive-foreground: oklch(98% 0.01 210);
    --color-border: oklch(17.5% 0.02 217.2);
    --color-input: oklch(17.5% 0.02 217.2);
    --color-ring: oklch(83.9% 0.02 212.7);
    --color-sidebar-background: oklch(10% 0.01 240);
    --color-sidebar-foreground: oklch(95.9% 0.01 240);
    --color-sidebar-primary: oklch(48% 0.08 224.3);
    --color-sidebar-primary-foreground: oklch(100% 0 0);
    --color-sidebar-accent: oklch(15.9% 0.01 240);
    --color-sidebar-accent-foreground: oklch(95.9% 0.01 240);
    --color-sidebar-border: oklch(15.9% 0.01 240);
    --color-sidebar-ring: oklch(59.8% 0.1 217.2);
  }
} */
