---
import "../styles/global.css";
const { content } = Astro.props;
---

<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Hello</title>
  </head>
  <body>
    <div class="min-h-screen bg-background">
      <slot />
    </div>
  </body>
</html>
