---

---

<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  dark:prose-a:bg-[linear-gradient(rgba(0,0,0,0)_70%,#53a8c7_70%)] prose-a:underline prose-a:bg-[linear-gradient(rgba(0,0,0,0)_70%,#e5c046_70%)]
  prose-p:text-justify
  prose-img:rounded-xl
  prose-inline-code:bg-secondary prose-inline-code:text-[#EB5757] prose-inline-code:after:content-none prose-inline-code:before:content-none prose-inline-code:px-0.5 prose-inline-code:mx-0.5
  max-w-full
   prose-h2:scroll-mt-28
   prose-h3:scroll-mt-28
   prose-h4:scroll-mt-28
   [h2+ul] a:no-underline [h2+ul] a:text-slate-600
   h2+ul] a:hover:text-blue-600"
>
  <slot />
</div>
